<div class="my-1">
    <p class="txt-ind">Discover Our Range</p>
    </div>
   
   
   <div class="row">           
                  <div class="col-sm-3 col-md-3 col-lg-3">
          
   
                    <div class="box1">	  
          <span> <img class="size" src="../assets/Images/s1.PNG" alt="Logo"></span>                    			
                      </div>
            </div>  			
   
            <div class="col-sm-3 col-md-3 col-lg-3">
          
   
                    <div class="box1">
           
          <span> <img class="size" src="../assets/Images/s3.PNG" alt="Logo"></span>   
                   
                           
                    </div>
            </div>  		
                 
            <div class="col-sm-3 col-md-3 col-lg-3">
          
   
                    <div class="box1">
          
          <span> <img class="size" src="../assets/Images/s2.PNG" alt=" Logo"></span>   
                     
                           
                    </div>
            </div> 
   
             <div class="col-sm-3 col-md-3 col-lg-3">
          
   
                    <div class="box1">
          
          <span> <img class="size" src="../assets/Images/s4.PNG" alt=" Logo"></span>   
                     
                           
                    </div>
            </div>  				  
              
   
              </div>   
        <div class="row content-bar">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                          <p>It is essential that you do not take into consideration or respond to any information on this site or send any information
                              or materials to us before you read this <a class="dash" href="#">Important Legal Notice</a>,<a class="dash" href="#">Client Charter</a>  and our <a class="dash" href="#">Data Protection and Privacy
                                  Policy</a> .</p>
   
                      </div>
                     
                  </div>